<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "My Blog", posts_path %>
<%= link_to "Contacts", contacts_path %>
<%= link_to "DSlist", dslists_path %>
<a href="/users/sign_in">로그인</a>